# Data types 
- Python Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes.
- In programming, data type is an important concept. Variables can store data of different types, and different types can do different things.
- Variables and data types act as the backbone of any programming language. They play a crucial role in storing data and manipulating data, and they are fundamental building blocks for writing effective and efficient code.
  ## Types of Data types
  - There are two parts of Data types
    - Basic and Advanced

    ### Basic Data types
    - int
    - float
    - complex
    - boolean
    - char
    ### Advnace Data types
    - strings
    - list
    - tuple
    - set
    - dictionaries


 ## Integer (int)
 - Integer (int) is a data type where we use for the numbers -ထ to 0 to ထ

In [9]:
#examples 
a = 22
b = -12
c = -33
d = 18
Rajeev = 22
rcb = -34
win = 12*32
print(a)
print(b)
print(c)
print(d)
print(Rajeev)
print(rcb)
print(win)

22
-12
-33
18
22
-34
384

## Float 
- Float is used for the decimal numbers from -ve to +ve all decimal numbers.

In [12]:
# example 
a =  22.3
c = 12.2
d =  -12.77
Rajeev = -1.1+3.2
rcb = 1.22*2
Python = 1+22.2
sql = 63.9
DA = 3.*3.6*3.6
print(a)
print(c)
print(d)
print(Rajeev)
print(rcb)
print(Python)
print(sql)
print(DA)

22.3
12.2
-12.77
2.1
2.44
23.2
63.9
38.88

## Complex
- Complex numbers are mix of real numbers and imaginary numbers
- We use (j) for the imaginary numbers.

In [15]:
#Example for complex numbers
a = 2j
b = 2+2j
c = 3-2j
d = 12+13+13j
Rajeev = 15-15j
python = 17*17j
sql = 15*15j
q3q =  1j
virat = 45j-77
rohit = 45*18j-11
print(a)
print(b)
print(c)
print(d)
print(Rajeev)
print(python)
print(sql)
print(q3q)
print(virat)
print(rohit)

2j
(2+2j)
(3-2j)
(25+13j)
(15-15j)
289j
225j
1j
(-77+45j)
(-11+810j)

## Boolean 
- boolean is a binary answering data type
- Here we have only two outputs which are true and false

In [9]:
#examples
print(1<2)
print(2<1)
print(56<=33)
print(65-33<=32)
print(555<=333)
print(237*3222<1)
print(555 ==333)
print(320<22)

True
False
False
True
False
False
False
False

## Character
- Character is used for the strings and letters (Alphabets).
- we mention characters in ("-") or ('-').
-

In [18]:
#examples
a = 'rajeev'
b = "virat"
c = "Character"
d = "is"
e = "used"
f = "for"
g = "the"
h = "strings"
I = "letters"
J = "Alphabets"
print(b)
print(f)
print(e)
print(d)
print(c)
print(a)
print(g)
print(h)
print(J)
print(I)

virat
for
used
is
Character
rajeev
the
strings
Alphabets
letters

## Type function ()
- This type function is going to tell the data type of the particular data.

In [32]:
#Examples
print(type(11))
print(type(123))
print(type(1.341))
print(type(-11))
print(type(-32.1))
print(type(11.33+23j))
print(type('rajeev'))
print(type('V'))
print(type(23<=32))
print(type('Virat'))
print(type('Kohli'))
print(type(100))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>